{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Allaia | Bootstrap eCommerce Template - ThemeForest</title>
    
    <!-- Favicons-->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">
	
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="css/bootstrap.custom.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

	<!-- SPECIFIC CSS -->
    <link href="css/account.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="css/custom.css" rel="stylesheet">

</head>

<body> --}}
	
	<div id="page">

	
	<main class="bg_gray">
		
	<div class="container margin_30">
		<div class="page_header">
			<div class="breadcrumbs">
				{{!-- <ul>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					<li></li>
				</ul> --}}
		</div>
	</div>
	<!-- /page_header -->
		<div class="row justify-content-center">
			
			<div class="col-xl-6 col-lg-6 col-md-8">
				<div class="box_account">
					<h3 class="new_client">Registration</h3> 
					<p id="emailAlert" style="color: red ;">{{alertEmail}}</p>

					<!-- Validation Alert -->
					{{#each alert}}

					<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<strong>Alert  :</strong> {{msg}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					{{/each}}



					<small class="float-right pt-2">* Required Fields</small>
					<form action="/users/account" method="POST" onsubmit = "return(validateRegUser());" name="myForm">
					<div class="form_container">
						<div class="form-group">
							<input type="email" class="form-control" name="email_2" id="email_2" placeholder="Email*">
						</div>
						<p id="emailAlert" style="color: red ;"></p>
						<div class="form-group">
							<input type="password" class="form-control" name="password_in_2" id="password_in_2" value="" placeholder="Password*">
						</div>
						<p id="passwordAlert" style="color: red ;"></p>
						<hr>
						
						<div class="private box">
							<div class="row no-gutters">
								<div class="col-6 pr-1">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Name*" name="namereg">
									</div>
								</div>
								<p id="nameAlert" style="color: red ;"></p>
								<div class="col-12">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Full Address*" name="addressreg">
									</div>
								</div>
								<p id="addressAlert" style="color: red ;"></p>
							</div>
							<!-- /row -->
							{{!-- <div class="row no-gutters">
								<div class="col-6 pr-1">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="City*" name="city">
									</div>
								</div>
								<div class="col-6 pl-1">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Postal Code*" name="postalcode">
									</div>
								</div>
							</div>
							<!-- /row -->
							
							<div class="row no-gutters">
								<div class="col-6 pr-1">
									<div class="form-group">
										<div class="custom-select-form">
											<select class="wide add_bottom_10" name="country" id="country">
													<option value="" selected>State*</option>
													<option value="Kerala">Kerala</option>
													<option value="TamilNadu">Tamil Nadu</option>
													<option value="Maharashtra">Maharashtra</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-6 pl-1">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Telephone *">
									</div>
								</div>
							</div> --}}
							<!-- /row -->
							
						</div>
						<!-- /private -->
						<div class="company box" style="display: none;">
							<div class="row no-gutters">
								<div class="col-12">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Company Name*">
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Full Address">
									</div>
								</div>
							</div>
							<!-- /row -->
							<div class="row no-gutters">
								<div class="col-6 pr-1">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="City*">
									</div>
								</div>
								<div class="col-6 pl-1">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Postal Code*">
									</div>
								</div>
							</div>
							<!-- /row -->
							<div class="row no-gutters">
								<div class="col-6 pr-1">
									<div class="form-group">
										<div class="custom-select-form">
											<select class="wide add_bottom_10" name="country" id="country_2">
													<option value="" selected>Country*</option>
													<option value="Europe">Europe</option>
													<option value="United states">United states</option>
													<option value="Asia">Asia</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-6 pl-1">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Telephone *">
									</div>
								</div>
							</div>
							<!-- /row -->
						</div>
						<!-- /company -->
						<hr>
						<div class="form-group">
							<label class="container_check">Accept <a href="#0">Terms and conditions</a>
								<input type="checkbox" name="agree">
								<span class="checkmark"></span>
							</label>
						</div>
						<div class="text-center"><input type="submit" value="Register" class="btn_1 full-width"></div>
					</div>
					</form>
					<!-- /form_container -->
				</div>
				<!-- /box_account -->
			</div>
		</div>
		<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!--/main-->
	
	
	</div>
	<!-- page -->
	
	<div id="toTop"></div><!-- Back to top button -->
	<script>
    
    function validateRegUser() {
				
         if( document.myForm.email_2.value == "" ) {
            document.getElementById("emailAlert").innerHTML="Enter a valid username"
            document.myForm.email_2.focus() ;
            return false;
         };
		 document.getElementById("emailAlert").innerHTML=""

		 
         if( document.myForm.password_in_2.value == "" ) {
            document.getElementById("passwordAlert").innerHTML="Enter the password"
            document.myForm.password_in_2.focus() ;
            return false;
         };
		 document.getElementById("passwordAlert").innerHTML=""

		 if( document.myForm.namereg.value == "" ) {
            
            document.getElementById("nameAlert").innerHTML="Enter your name"
            document.myForm.namereg.focus() ;
            return false;
         };
		 document.getElementById("nameAlert").innerHTML=""

		 if( document.myForm.addressreg.value == "" ) {
            
            document.getElementById("addressAlert").innerHTML="Enter your Address"
            document.myForm.addressreg.focus() ;
            return false;
         };

		 document.getElementById("addressAlert").innerHTML=""

		 if(document.myForm.agree.checked==false){

			
			return false;
		 }
        
         return( true );
      }
  </script>
	<!-- COMMON SCRIPTS -->
    <script src="js/common_scripts.min.js"></script>
    <script src="js/main.js"></script>


    <script>
    	// Client type Panel
		$('input[name="client_type"]').on("click", function() {
		    var inputValue = $(this).attr("value");
		    var targetBox = $("." + inputValue);
		    $(".box").not(targetBox).hide();
		    $(targetBox).show();
		});
	</script>
		
{{!-- </body>
</html> --}}