<div class="col-xl-6 col-lg-6 col-md-8 mx-auto mt-5">
				<div class="box_account">
					<h3 class="client">Login</h3>
					<div class="form_container">
						<div class="row no-gutters">
							{{!-- <div class="col-lg-6 pr-lg-1">
								<a href="#0" class="social_bt facebook">Login with Facebook</a>
							</div>
							<div class="col-lg-6 pl-lg-1">
								<a href="#0" class="social_bt google">Login with Google</a>
							</div> --}}
						</div>
						<p id="validationAlert" style="color: red ;"></p>
						<form action="/User/login" method="post" onsubmit = "return(validateForm());" name="myFormLogin">
						<div class="form-group mt-3">
							<input type="email" class="form-control" name="email" id="email" placeholder="Email*" onchange="validateEmail()">
						</div>
						<p id="emailAlert" style="color: red ;"></p>
						<div class="form-group">
							<input type="password" class="form-control" name="password" id="password" value="" placeholder="Password*" onchange="validatePassword()">
						</div>
						<p id="passwordAlert" style="color: red ;"></p>
						<div class="clearfix add_bottom_15">
							<div class="checkboxes float-left">
								<label class="container_check">Remember me
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
							</div>
							<div class="float-right"><a id="forgot" href="javascript:void(0);">Lost Password?</a></div>
						</div>
						<div class="text-center"><input type="submit" value="Log In" class="btn_1 "></div>
						<div id="forgot_pw">
							<div class="form-group">
								<input type="email" class="form-control" name="email_forgot" id="email_forgot" placeholder="Type your email">
							</div>
							<p>A new password will be sent shortly.</p>
							<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
						</div>
						<a href="/User/getOtp">Login via Otp</a>
						</form>
					</div>
					<!-- /form_container -->
				</div>
				<!-- /box_account -->
				<div class="row mb-5">
					{{!-- <div class="col-md-6 d-none d-lg-block">
						<ul class="list_ok">
							<li>Find Locations</li>
							<li>Quality Location check</li>
							<li>Data Protection</li>
						</ul>
					</div>
					<div class="col-md-6 d-none d-lg-block">
						<ul class="list_ok">
							<li>Secure Payments</li>
							<li>H24 Support</li>
						</ul>
					</div> --}}
				</div>
				<!-- /row -->
			</div>
			
			
    
     <script>
		
//VALIDATION SCRIPTS

	//Validate Email

	  function validateEmail(){
   
    var text1=document.getElementById("email").value;
    var regx=/^([a-zA-Z0-9\.-_ ]+)@([a-zA-Z0-9]+).([a-zA-Z]{2,20})(.[a-zA-Z]{2,5})$/;
    if(regx.test(text1))
    {
        mail=1;
        document.getElementById("emailAlert").innerHTML="";
   
    }
    else{
        mail=0;
        document.getElementById("emailAlert").innerHTML="In-Valid Entry";
        document.getElementById("emailAlert").style.visibility="visible";
        document.getElementById("emailAlert").style.color="red";

    }

	}


 //Password validation

    function validatePassword() {

        const text1 = document.getElementById("password").value;
        console.log(text1);
        {{!-- var regx = /^(?=.\d)(?=.[a-z])(?=.[A-Z])(?=.[a-zA-Z]).{8,}$/; --}}
        var regx = /^[0-9 a-z]+$/
        if (regx.test(text1)) {
            password = 1;
            document.getElementById("passwordAlert").innerHTML = "";
			
           
        }
        else {
            password = 0;
            document.getElementById("passwordAlert").innerHTML = "In-Valid Entry";
            document.getElementById("passwordAlert").style.visibility = "visible";
            document.getElementById("passwordAlert").style.color = "red";

        }

    }

	 function validateForm(){
        validatePassword();
        validateEmail();
        

        if(password==1&&mail==1)
        {


               password=0
			   mail=0
			   			   
			
            return true;
            
        }
        else{
            document.getElementById("validationAlert").innerHTML="please enter the correct details";
            document.getElementById("validationAlert").style.visibility="visible";
            document.getElementById("validationAlert").style.color="red";
            return false;
        }
    }


  </script>