
	
	<div id="page">
	
	
	
	<main class="bg_gray">
	
		
	<div class="container margin_30">
		<div class="page_header">
			<div class="breadcrumbs">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Category</a></li>
					<li>Page active</li>
				</ul>
		</div>
		<h1>Account</h1>
	</div>
	<!-- /page_header -->
		
		<!-- /search-input -->
		
			<div class="row" >
				<div class="col-lg-4 col-md-6" >
					<a class="box_topic" href="#"  style="text-decoration: none ;">
						<i class="ti-wallet"></i>
						<h3>Payments</h3>
						<p>Change payment options </p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_topic" href="/User/edit-profile" style="text-decoration: none ;">
						<i class="ti-user"></i>
						<h3>Profile</h3>
						<p>Edit profile</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_topic" href="#0" style="text-decoration: none ;">
						<i class="ti-help"></i>
						<h3>General help</h3>
						<p>Id</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_topic" href="#0" style="text-decoration: none ;">
						<i class="ti-truck"></i>
						<h3>Shipping</h3>
						<p>Id</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_topic" href="/User/referals" style="text-decoration: none ;">
						<i class="ti-eraser"></i>
						<h3>Referals</h3>
						<p>Your referrals</p>
					</a>
				</div>
				<div class="col-lg-4 col-md-6">
					<a class="box_topic" href="#0" style="text-decoration: none ;">
						<i class="ti-comments"></i>
						<h3>Reviews</h3>
						<p>Id</p>
					</a>
				</div>
			</div>
			<!--/row-->
		</div>
		<!-- /container -->
		
		<!-- /bg_white -->
	</main>
	<!--/main-->
	
	
	<!--/footer-->
	</div>
	<!-- page -->
	
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- COMMON SCRIPTS -->
    <script src="js/common_scripts.min.js"></script>
    <script src="js/main.js"></script>

		
