<div class="container-fluid">

    <div class="row " class="" style="height: 500px; background-color: rgba(77, 139, 255, 0.12) ;">

        <div class="d-flex justify-content-center my-auto">

            <div class="d-flex justify-content-center my-auto"
                style="width: 40% ; height : 60px;">

                <div class="row mt-3"></div>
                    <!-- Default input -->
                    <label for="inputDisabledEx2" class="disabled">Referal Code</label>
                    <input type="text" id="inputDisabledEx2" class="form-control" value="{{code}}" disabled>
                </div>


            </div>

        </div>


    </div>
</div>