<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicons-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="images/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="images/apple-touch-icon-144x144-precomposed.png">
	
    <!-- GOOGLE WEB FONT -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/stylesheets/bootstrap.custom.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

	<!-- SPECIFIC CSS -->
    <link href="/stylesheets/home_1.css" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="/stylesheets/custom.css" rel="stylesheet">


  
  </head>
  <body>
    {{{body}}}
   	<!-- COMMON SCRIPTS -->
    <script src="javascripts/common_scripts.min.js"></script>
    <script src="javascripts/main.js"></script>
	
	<!-- SPECIFIC SCRIPTS -->
	<script src="javascripts/carousel-home.min.js"></script>

  </body>
</html>
